.container_categories {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 60px;
    .categories_title {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
    }
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}