.active_cart {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    transition: 350ms;

    & .overlay {
        opacity: 1;
        pointer-events: auto;
    }
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 4;
}

.close_cart {
    position: fixed;
    z-index: 1;
    top: 0;
    right: -150%;
    transition: 850ms;

    & .overlay {
        opacity: 0;
        pointer-events: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px 25px 40px;
    align-items: center;
    background-color: #9353FF;

    .cart_title {
        color: #fff;
        font-size: 28px;
        font-weight: 500;
    }
}

.container_content {
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 32px;
    background-color: #343A40;

    .empty_cart {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }

}

.active_scroll {
    overflow-y: auto;
    max-height: 85vh;
}

@media(max-width: 768px) {
    .active_cart {
        width: 100%;
    }
}

@media(max-width: 445px) {
    .container_content {
        overflow-y: auto;
        max-height: 80vh;
    }
}

@media(max-height: 430px) {
    .container_content {
        overflow-y: auto;
        max-height: 60vh;
    }
}