.activeCart {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    transition: 350ms;

    & .overlay {
        opacity: 1;
        pointer-events: auto;
    }
}

.closeCart {
    position: fixed;
    z-index: 1;
    top: 0;
    right: -150%;
    transition: 850ms;

    & .overlay {
        opacity: 0;
        pointer-events: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 25px 40px;
    align-items: center;
    background-color: #9353FF;

    .cartTitle {
        color: #fff;
        font-size: 28px;
        font-weight: 500;
    }
}

.container_content {
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 32px;
    background-color: #343A40;

    .emptyCart {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
}

@media(max-width: 768px){
    .activeCart{
        width: 100%;
    }
}